<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>DRAVO NTRIP Checker</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/distap.min.css

<style>

:root{

    --primary:#7f56d9;
    --secondary:#0d6efd;
    --success:#22c55e;
    --warning:#f59e0b;
    --danger:#ef4444;

}

*{
    box-sizing:border-box;
}

body{

    margin:0;
    background:#dbe7f4;
    font-family:Segoe UI,sans-serif;

}

.hero{

    height:220px;

    background:linear-gradient(
        rgba(25,35,55,.35),
        rgba(25,35,55,.35)
    ),
    url('https://images.unsplash.com/photo-1518837695005-2083093ee35b?q=80&w=1800');

    background-size:cover;
    background-position:center;

    position:relative;

}

.logo-box{

    position:absolute;

    bottom:-40px;

    left:50%;

    transform:translateX(-50%);

    width:90px;
    height:90px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:20px;

    background:white;

    font-size:42px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.15);

}

.hero-title{

    position:absolute;

    left:50%;
    top:45%;

    transform:translate(-50%,-50%);

    color:white;

    text-align:center;

}

.hero-title h1{

    margin:0;

    font-size:40px;

    font-weight:700;

}

.hero-title p{

    margin:5px 0 0 0;

    font-size:18px;

}

.content{

    padding:60px 18px 20px;

}

.main-card{

    background:white;

    border-radius:28px;

    padding:22px;

    max-width:700px;

    margin:auto;

    box-shadow:
    0 8px 25px rgba(0,0,0,.08);

}

.section-title{

    font
